@model SOC.Models.QuestionsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <span>
            <strong>@Html.DisplayNameFor(model => model.VoteCount)</strong>
            @Html.DisplayFor(model => model.VoteCount)
            <strong>@Html.DisplayNameFor(model => model.DatePosted)</strong>
            @Html.DisplayFor(model => model.DatePosted)
        </span>
    </dl>
</div>
<div>
    <a asp-controller="Answers" asp-action="Create">Answer</a> |
    <a asp-controller="Comments" asp-action="Create">Comment</a> |
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
